_publications/
_site/
temp/

.sass-cache/
Gemfile.lock
_publications/2009-10-01-paper-title-number-1.md
_publications/2010-10-01-paper-title-number-2.md
_publications/2015-10-01-paper-title-number-3.md
